<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="gold">
            <section name="xforms" type="Gold.Forms.FormsConfiguration,Gold.Forms" />
        </sectionGroup>
    </configSections>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~
    ~ gold/
    ~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <gold>
        <xforms>
            <namespaces>
            </namespaces>

            <properties>
                <add type="xf:checkbox" moniker="Gold.Forms.CheckBoxProperty.CheckBoxControl,Gold.Forms" />
                <add type="xf:integer" moniker="Gold.Forms.IntegerProperty.IntegerControl,Gold.Forms" />
                <add type="xf:list" moniker="Gold.Forms.ListProperty.ListControl,Gold.Forms" />
                <add type="xf:shapeId" moniker="Gold.Forms.ShapeIdProperty.ShapeIdControl,Gold.Forms" />
                <add type="xf:string" moniker="Gold.Forms.StringProperty.StringControl,Gold.Forms" />
                <add type="xf:stringList" moniker="Gold.Forms.StringListProperty.StringListControl,Gold.Forms" />
            </properties>
        </xforms>
    </gold>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~
    ~ platinum/
    ~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->



</configuration>