<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="gold">
            <section name="model" type="Gold.ModelConfiguration,Gold.Core" />
            <section name="forms" type="Gold.Forms.FormsConfiguration,Gold.Forms" />
        </sectionGroup>

        <sectionGroup name="platinum">
            <section name="resolver" type="Platinum.Resolver.ResolverConfiguration,Platinum.Core" />
        </sectionGroup>
    </configSections>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~
    ~ appSettings/
    ~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <appSettings>
        <add key="Application" value="Gold" />
    </appSettings>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~
    ~ gold/
    ~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <gold>
        <model>
            <library>
                <add type="Gold.Model.Rhenium.RheniumModel,Gold.Model.Rhenium" />
            </library>
        </model>

        <forms>
            <namespaces>
            </namespaces>

            <properties>
                <add name="xf:checkbox" type="Gold.Forms.CheckBoxControl,Gold.Forms" />
                <add name="xf:integer" type="Gold.Forms.IntegerControl,Gold.Forms" />
                <add name="xf:list" type="Gold.Forms.ListControl,Gold.Forms" />
                <add name="xf:shapeId" type="Gold.Forms.ShapeIdControl,Gold.Forms" />
                <add name="xf:string" type="Gold.Forms.StringControl,Gold.Forms" />
                <add name="xf:stringList" type="Gold.Forms.StringListControl,Gold.Forms" />
            </properties>
        </forms>
    </gold>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~
    ~ platinum/
    ~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <platinum>
        <resolver />
    </platinum>
</configuration>